@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 44%;
    --chart-primary: var(--chart-1);
    --axis-line: var(--muted-foreground);
  }
  :root {
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
    --chart-6: oklch(0.712 0.21 23);
    --chart-7: oklch(0.653 0.167 344);
    --chart-8: oklch(0.6 0.162 140);
    --chart-9: oklch(0.723 0.104 262);
    --chart-10: oklch(0.57 0.12 200);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --chart-primary: var(--chart-1);
    --axis-line: var(--muted-foreground);
  }

  html, body {
    @apply bg-background text-foreground;
  }
}
